/* Resetting default styles and setting up the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Styling for the container */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Styling for input container */
.input-container {
    margin-bottom: 20px;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Styling for inputs */
input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #3498db;
    outline: none;
}

/* Styling for buttons */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Styling for total cost paragraph */
p#total-cost {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000000;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
}

.dark-mode input {
    background-color: #555;
    color: #fff;
    border-color: #555;
}

.dark-mode label, 
.dark-mode h1, 
.dark-mode p#total-cost {
    color: #fff;
    border-color: #555; 
}

.dark-mode button {
    background-color: #00ffff;
    color: #000;
}

.dark-mode button:hover {
    background-color: #00ffff63;
}