/* Resetting default styles and setting a background color for the body */
body {
    font-family: RodinNTLG;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6ccb2;
}

/* Styling for the page header */
header {
    background-color: #9c6644;
    color: #ffffff;
    text-align: center;
    padding: 0.1px;
    font-family: Prentice Font;
}

/* Styling for the navigation bar */
.navbar {
    background-color: #9c6644;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #fff;
    opacity: 0.7;
}

/* Styling for the button */
.button {
    background-color: #9c6644;
    border: none;
    color: white;
    padding: 1px 15px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 30px;
}

/* Spacing the Words */
p {
    line-height: 25px;
}

ul {
    line-height: 25px;
}

/* Styling for the description section */
.Desc {
    position: absolute;
    width: 45%;
    left: 26.35%;
    top: 20%;
    background-color: bisque;
    padding: 30px;
}

/* Styling for the gameplay section */
.GP { 
    position: absolute;
    width: 42%;
    left: 3%;
    top: 57%;
    background-color: bisque;
    padding: 30px;
}  

/* Styling for the synopsis section */
.Syn { 
    position: absolute;
    width: 42%;
    left: 52%;
    top: 57%;
    background-color: bisque;
    padding: 30px;
}   